*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height: 720px;
	background-color: #F5F5F5;
}
.body{
	position: relative;
	width: 64%;
	height: 640px;
	margin: auto;
	background-color: white;
}
/*右上角图片*/
.body>:first-child{
	position: absolute;
	right: 0px;
	opacity: .3;
	cursor: pointer;
}
/*隐藏的div*/
.hidden{
	position: absolute;
	width: 100%;
	height: 640px;
	margin: auto;
	background-color: white;
	text-align: center;
	display: none;
}
.hidden p{
	color: #777;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.hidden div{
	margin-top:115px;
}
.hidden div span{
	font-size: 30px;
	color: #ff6700;
}
.hidden i{
	width: 30px;
	height: 30px;
	border-radius: 50px;
	position: absolute;
	padding: 5px;
	right: 20px;
	top: 20px;
	color: #777;
	background-color: #BDBDBD;
	box-sizing: border-box;
	cursor: pointer;
}

.body>:first-child:hover{
	opacity: 1;
}
.header{
	padding: 50px 0 22px;
	text-align: center;
}
.header span{
	display: block;
	font-size: 30px;
	color: #333;
	margin-top: 20px;
}
.info-container{
	width: 100%;
}
.info-container .input-info{
	text-decoration-line: center;
	width: 358px;
	margin: 0 auto;
}
/*两个输入框*/
.info-container .input-info input{
	padding: 13px 16px 13px 14px;
	display: block;
	width: 356px;
	height: 48px;
	box-sizing: border-box;
	margin-top: 20px;
	border: 1px solid #ddd;
}
.info-container .button{
	width: 358px;
	margin: 0 auto;
	font-size: 14px;
	color: #777;
}
/*按钮*/
.info-container .button input{
	width: 358px;
	height: 48px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #FF6700;
	color: #fff;
	border: none;
	cursor: pointer;
}
.info-container .button span{
	margin-right: 105px;
	color: #FF6700;
}
/*其他链接*/
fieldset{
	text-align: center;
	margin: 40px auto;
	color: #bbb;
	width: 358px;
	font-size: 14px;
	border: none;
	border-top: 1px solid #ddd;
}
fieldset i{
	border-radius: 100px;
	margin: 15px 10px;
	padding: 8px;
	color: white;
	box-sizing: border-box;
}
.fa-qq{
	width: 30px;
	height: 30px;
	background-color: #0288D1;
}
.fa-weibo{
	width: 30px;
	height: 30px;
	background-color: #D32F2F;
}
.fa-weixin{
	width: 30px;
	height: 30px;
	background-color: #00D20D;
}
.fa-skype{
	width: 30px;
	height: 30px;
	/*color: black;*/
	background-color: #00AAEE;
}

/*尾部*/
.footer{
	width: 64%;
	margin: auto;
	text-align: center;
}
.character{
	margin-top: 20px;
	font-size: 14px;
	color: #777;
}
.character a{
	margin:auto 10px;
}
.character :first-child{
	color: black;
}
.character p{
	margin-top: 10px;
}